# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Generated outputs
outputs/*.html

# Large/raw data
data/raw/
# Downloaded NYC geographic source data
data/nyc_borough_boundaries.geojson
data/nyc_census_tracts_2020.geojson
